/* -------  People Page --------For some reason this has be be at the to for the multiple javascript stuff to work-- */

#PeopleList {
	column-count:3;
	-webkit-column-count:3;
	-moz-column-count:3;
	float:left;
	margin-bottom:20px;
	width:100%;

}

*{margin:0px;}

#Location #PeopleList {
	margin-top:5px;

}


#Location h4 {
	margin-top:5px;

}



#LocationsList {
	column-count:3;
	-webkit-column-count:3;
	-moz-column-count:3;
	float:left;
	width:100%;

	margin-bottom:20px;
	margin-top:20px

}

#EventsList {
	column-count:2;
	-webkit-column-count:2;
	-moz-column-count:2;
	text-align:left;
	width:100%;
	float:left;



}


.clear {
line-height: 0px;
font-size: 0px;
clear: both;
height: 0px;
}


html,body { height:100%; }


body {
    background: #C6BD9C url('../images/body-bg.jpg') repeat-x 0% 0%;
    background-image: url(''../images/body-bg.jpg');
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-position-x: 0%;
    background-position-y: 0%;
    background-origin: initial;
    background-clip: initial;
    background-color: #C6BD9C;
    letter-spacing: normal;
    margin: 0px;	
}

a {color:#03F};


.clear{
	clear:both;
}


/* parts the related to whole */

ul {
	list-style-image: url(../images/dot.png);
}


h1 , h2 ,h3 , h4 ,h5, h6 {
	color:#5e6b81;
}


h3 a {
	color:#5e6b81;
}


 /* INFORMATION page related  */


#information img.left {
	clear:left;
}



.Footnote_20_Symbol {
	font-size:xx-small; 
	vertical-align:top
}

 /* Forms---------------------------------------- */


.action {
	
	color:#FFF;
	background-image:url(../images/sidebar-background-bg.png);
	background-color:#b12320;
	background-repeat: repeat-x;
	padding:3px;
	
	font-weight:bolder;
	margin-top:-10px;
	
}

label {
	color:#b12320;

}


fieldset {
	margin:0px;
	padding:0px;

	
}


 div.middleColumn {
	padding:0px;
	margin:0px;
	margin-left:6px;
	margin-top:6px;

	}

 div.middleColumn input {
		
		padding:-4px;
		margin:-5px;

	}




/* BGCONTAINER
----------------------------------------- */
#BgContainer {
		width:980px;
		min-height:540px;
		margin:0 auto;
}

/* end of Bg container*/

	
	
	
/* HEADER
----------------------------------------- */

#Header {
		width:100%;
		background:url(../images/navigation_bg.png) repeat-x;
        height: 28px;
		padding-bottom:35px;
}

#Header #Logo {

		float:left;
		background:url(../images/logo.png) no-repeat;
        width:140px;
		margin-top:2px;
		margin-left:5px;
		height:100%;

}


#Header h1  {
	 
	float:left;
	font-family:Garamond;
	font-size:170%;
	color:#fff;
	//display:none;
	
}

#Header #Banner{background-image:url(../images/banner.png);}


/*#Header .blacloyalistimage { float:left;}

#Header .featureimage  {
	float:right;
} not necessary*/ 



/*Navigation ----------------------------------------- */

#Navigation {
	color: #000;
	margin:0 0 0 11px;
	float:left;
}

#Navigation ul {

	}

#Navigation ul li {
	list-style-type:none;
	display:block;
	float:left;
	margin:0 10px 0 0;

}
  
  #Navigation ul li a {
  	display:block;
  	width:100%;
	text-decoration: none;
	color:#000;
	font-size: 1em;	


}
			#Navigation ul li a:hover {
					
					color:#fff;
					background:url(../images/triangle_hover.png) bottom center no-repeat;
				}
		
				
			#Navigation ul li a.current,
			#Navigation ul li a.section,
    		#Navigation ul li a.section:hover,
			#Navigation ul li a.current:hover {
					color:#FFF;
					background:url(../images/triangle_hover.png) bottom center no-repeat;
	
	}
    

/* 
Container 
--------------------------------------------------------
*/	

#ContentContainer
{
	width:98.5%;
	margin:4px auto;
	min-height:345px;
}
#Container {

	width: 100%;
	background:url(../images/container_bg.png) repeat-y center center;
	margin:0 auto;

}



#Layout {
	width:95%;
	margin-left:30px;
	padding-right:20px;
	
}

#Layout h2{
	color:#0c212b;
	font-size:190%;
	width:288px;
	padding-bottom:20px;
	background:url(../images/header_underline.png) left bottom no-repeat;
}

#Content{
	width:820px;
	float:left;
	
}
	

/*#Content .Source  {
	float:left;
	margin-left:20px;
	margin-right:20px;
	
} */
	

/* Sidebar we have have main one this is blue that gets overridden */

#SideBar {
	float: left;
	width: 125px; /* since this element is floated, a width must be given */
	margin-left:3px;
	overflow:hidden;
	
}

 #SideBar  h3 {
	color:#FFF;
}


 #SideBar  ul {
 margin:0px;
}



 #SideBar  li {
	background-color:#829297;	
	list-style:none;
	list-style-position:inside;
	width:100%;
	display:block;
	height:27px;
	margin-bottom:2px;
}


 #SideBar a {
	 
	text-decoration:none;
	display:block;
	width:100%;
	height:100%;
	padding:0px 0 0px 10px;
 	color:#000;
 	font-size:1em; 	

}

#SideBar a span{
	position:relative;
	top:4px;
}

 #SideBar  a:hover {
	 
	color:#fff;
	background:url(../images/submenu_hover.png) left center no-repeat;
}



 #SideBar  .current {
	 
	color:#fff;
	background:url(../images/submenu_hover.png) left center no-repeat;
	
}

/* Sidebar ------  Form*/


#SideBar label {
	color:#FFF;
	
}

#SideBar input.text,input.title {
	width:170px;
	
}

#SideBar fieldset    
{ border:none;
margin:0px}


#SideBar .Actions {
	margin-left:12px;
}

 div.middleColumn {
	display:block;
	padding:0px;
	margin:0px;
	margin-left:6px;
	width:10px;
	}


div.middleColumn input {
		padding:-4px;
		margin:-5px;
	}




/* Sidebar we have have main one this is blue that gets overridden 


#section-browse  {
	padding:15px;
}




 #section-about  {
	padding:15px;
	
}


 #section-background  {
	 
	background-image:url(../images/sidebar-background-bg.png);
	background-color:#b12320;
	background-repeat: repeat-x;
	padding:15px;
	
	
}

#section-source  {
	 
	display:none;
	
}


 .section-source  {
	 
	background-image:url(../images/sidebar-source-bg.png);
	background-color:#cfc5b1;
	background-repeat: repeat-x;
	padding-bottom:8px;
	margin-left:-20px;
	padding:8px;	
	
	
}

 .section-source   Label {
	color:#FFF;
	font-size:1.1em;
	margin:2px;
	

}



 .section-source .action {
	color:#FFF;
	font-size:1em;
	margin-top:16px;
	margin-left:-10px;
}



*/


	

#Footer { 
	width:98%;
	margin:0 auto;
	background:url(../images/footer.png) no-repeat top center;
	min-height:128px;
	overflow:hidden;
	clear:left;
	
} 

#Footer #footerContainer{width:100%; padding:10px 10px 0 10px; font-size:90%;}

#footerContainer .Title{color:#0c212b;}

#Footer #Copyright 
	{
		font-size:.9em;
		float:left;
		clear:both;
	}
	

#Footer #Copyright  a
	{
		color:#a24c08;
		text-decoration:none;
	}
	
#Footer #Copyright  a:hover
	{
		color:#a24c08;
		text-decoration:underline;
	}

#Footer #footerContainer #FooterAbout {
	width:100%;
	font-size:1.2em;
	clear:left;
	float:left;
}

#footerContainer #Bottom{
	margin-top:30px;
}

#FooterNavigation {
	 float:left;
	 font-weight:500;
}

#FooterNavigation ul {
	padding:0;
	margin:0;
	}
	
#FooterNavigation ul li {
	list-style: none;
	display: inline;
}
		
	
#FooterNavigation a:link, #FooterNavigation a:visited {
	color:#666;
	text-decoration: none;	
}

#Footer img {
	
	float:left;
	
}



 #Footer #Logo {
	width:430px;
	float:right;
}


#Footer #DesignCredits {
		display:none;
}


	
	
	
	/* homepage----------------------------------------- */
	
#Buttons {
	float: left; 
	width: 400px;
	
}

#Buttons ul li {
	list-style:none;
	list-style-image: none;
	margin-left:-20px;
}



#Buttons .SearchForm {
 		width: 375px;
		background-color:#babbbb;
		background-image:url(../images/search-bg.png);
		background-repeat:repeat-y;
		padding-left:5px; 
			height:103px;

}

#Buttons .SearchForm  Label {
	color:#FFF;
	font-size:1.4em;
	

}

#Buttons .SearchForm fieldset {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	
	}


#Buttons .SearchForm .action {
	color:#FFF;
	font-size:1em;
	margin-top:16px;
	margin-bottom:15px;
}




#Buttons .SearchForm div.middleColumn {
	padding:0px;
	margin:0px;
	margin-left:6px;

	
	}




#Buttons .SearchForm div.middleColumn input {
		
		padding:-4px;
		margin:-5px;

	}


.PeopleListHeading {
	float:left;
	width:100%;
	margin-top:10px;
}

#Intro {
	margin-left:410px;	
}

#FeaturedPerson {
	clear:left;
	border: 10px solid #E6E6E6;
	padding: 15px;
	background-color: #E8E8E8;
	background-image: url(../images/paper.jpg);
	background-repeat: no-repeat;
		
}


#FeaturedPerson h2.FeaturedPerson {
  color:#F00; 
  
  	background-image: url(../images/featured-person.png);
	background-repeat: no-repeat;
	
	height:50px;
	text-indent: -9999px;
}

#FeaturedPerson h2,h3,h4 {
	color:#5e6b81;
	margin-top:-10px;
	margin-bottom:10px;
}

#FeaturedPerson .FeaturedImage {
 float:left;
 border: 5px solid #E6E6E6;

 margin-right:10px; 
 
}

#FeaturedPerson .withimage

{
	margin-left:260px; 
 
}

#FeaturedPerson .MoreInfo {
	 background-color:#8a0c0c;
	 padding:6px;
	 margin:2px;
}

#FeaturedPerson .MoreInfo:hover {
	 background-color:#666;
	
}

#FeaturedPerson a:link {
	color:#FFF;
	text-decoration:none;
}

#FeaturedPerson a:visited {
	color:#FFF;
	text-decoration:none;
}



#methodist-prototype {
	clear:left;
}


/* -  Runaway/People browse -- - */ 

	

#PeopleSearch {
	padding:10px;
}

#PeopleSearch fieldset {
	padding:15px;
}




#PeopleSearch div.middleColumn input {
	margin-bottom:3px;
	margin-top:3px;

	}




#PeopleSearch  .action {
	margin-bottom:15px;
	margin-top:5px;
	margin-left:12px

	
}




/* --- Design related the browse page in better way ----- */

.bonsummmary {
	color:#8B8386;
	font-size:.96em;
}



.previousandnext a {
	padding:4px;
	margin:3px;
	background-color:#CCC;

	
}

.previousandnext a:link {
	text-decoration:none;
	color:#333;
	
}

.previousandnext a:visited {
	text-decoration:none;
	color:#333;
}

.previousandnext a:hover {
	text-decoration:none;
	background-color:#900;
	color:#FFF;
	
}

.previousandnext strong {
	border: 1px solid #900;	
	padding:4px;
	margin:3px;
	
}






/* --- People timelog page ----- */


#Person .InformationPage li {list-style:none;}

/*
.EventData {
	background-image:url(../images/dot-line.png);
	background-repeat:repeat-x;
	padding-top:25px;
	clear:left;
	
	}*/
.EventData {
	background-image:url(../images/line.png);
	background-repeat:no-repeat;
	padding-top:40px;
	margin-top:10px;
	clear:left;
	
	}
	
.EventInformation {
margin-left:70px;
}


.Date {
 width:60px;
  margin-right:20px;

 float:left;
 background-color:#F4F1F9; 
 padding:5px;
 padding-top:15px;
 margin:2px;
 color:#FFF;
 text-align:center;
 
 	
		-moz-border-radius:8px;
	    -webkit-border-radius:8px;
		behavior:url(border-radius.htc);

 
}

.Date .daymonth {
	padding-bottom: 0px;
	margin-bottom:-10px;
	display:inline-block;
	
}
	
.Date h3 {
	 color:#5e6b81;

	
}

.Date .Year {
	font-size:1.4em;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;	
}



#Person .Date {
 width:60px;
 float:left;


 
}

#Person .EventTitle {	

}

#Person .EventTitle h3 {	
	margin-bottom:-1px;
		color:#8a0c0c;
		padding-left:10px;


	
}

div.EventTitle {
	color:#8a0c0c;
}

.SlavesThatRan {
	padding-top:8px;
}
.SlavesThatRan  ul {
	list-style:none;
	display:block;

}

.SlavesThatRan  li {
	display:inline;
	padding-left:5px;

}




#Person .Source {

}


#Person .SourceIcon {
	
	font-size:.75em;
	padding:5px;
	display:block;
	width:70px;
	float:right;
	
}

#Person  table .SourceIcon  {
	float:left;
	
}

.SourceInformation {
	font-size:.75em;

}


.SourceInformation .information {
	font-size:1.2em;
	padding-left:15px;

}


.SourceInformation ul {
			

}


.SourceInformation li {
	list-style:none;
}




.SourceInformation  img.information  {
	float:left;
	padding:15px;
}


.SourceInformation .summary{
	font-size:1.1em;
}







#Person .SourceIcon a:hover {
	background-color:#ECECEC;
	
}


 span.EventDataTable table {
	border: 10px solid #E6E6E6;
	padding: 5px;
	background-color:#fdfcf7;
	background-image: url(../images/paper.jpg);
	background-repeat: no-repeat;
	
}

  span.EventDataTable  th {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color:#666;
	
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #666;	
	
}


  span.EventDataTable  td {
	
	
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #666;	
	
}



#Person .Start {

	
	border-left-width: 0px;
	border-left-style:none;	
}




#Person th {
}

#Person .Column {
	width:10%;
}

#Person .MediumColumn {
	width:6%;
}

#Person .LongColumn {
	width:14%;
}

#Person .DoubleColumn {
	width:23%;
}



#Person .SmallColumn {
	width:3%;
}


#Person .EventDataTable {
	clear:both;
}

#Event .EventDataTable {
	width:100%;
	float:left;
}

#Event td   {
	border-bottom-width: 1px;
	border-bottom-style:dotted;
	border-bottom-color:#999; 
}


#Person  .BONdataTable {
}


/* --- Things that are different for the owners pages ----- */

.Owner td   {
	border-bottom-width: 1px;
	border-bottom-style:dotted;
	border-bottom-color:#999; 
}


#Person  #LoyalistClaims {
	width:80%;
}


#Person  #LoyalistClaims th {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color:#999;
	border-left-width: 2px;
	border-left-style: none;	
}


#Person  #LoyalistClaims td {
	
	border-left-width: 2px;
	border-left-style: none;
	border-left-color:#F00;
	
	
}


#Person  #LoyalistClaims .DoubleColumn {
	width:80%;
}


/*--- Event Pages --- */

#Event #Information {
	margin-left:80px;
	
}

#Event #Information  .about {
	width:85%;
	float:left;
	
}



#Event .SourceIcon {
	
	font-size:.75em;
	padding:5px;
	width:70px;
	
	float:right;
	
}

#Event   table .SourceIcon  {
	float:left;
	
}

#Event .InformationPage {
	float:left;
}





/* --- The source pages ----- */


li.SourceSummary {
	background-image:url(../images/dot-line.png);
	background-repeat:repeat-x;
 	padding-top:6px;
	clear:left;
 
}


li.SourceSummary img {
 float:left;
	border-width: 2px;
	border-style: solid;
	border-color:#999; 
	
	margin:10px;

}

li.SourceSummary img {
}

li.SourceSummary .Details {
	margin-left:90px;
	display:block;

	
}

li.SourceSummary h3 {
		margin-top:10px;
		color:#8a0c0c;

}


li.SourceSummary h3 a:hover {
	background:#FFC;
}



/* --- The source Information Pags ----- */




li.InformationSummary {
	
	background-image:url(../images/dot-line.png);
	background-repeat:repeat-x;

 	padding-top:8px;
	min-height:140px;
	list-style:none;
	
	
 
}
.InformationSummary img {
	float:left;
	border-width: 2px;
	border-style: solid;
	border-color:#999;
	
	margin:8px;

}


li.InformationSummary span.Details {
	display:block;
	margin-left:100px;
	padding-top:10px;
	
}

.InformationSummary h3 {
		margin-top:10px;
		color:#8a0c0c;

}


.InformationSummary h3 a:hover {
	background:#FFC;
}


#information img {
	 float:left;
	border-width: 2px;
	border-style: solid;
	border-color:#999; 
	
	margin:30px;
	

}




/* Featured list at top of browse pages----------------------------------------- */
 #FeaturedList {
	 float:left;
	 width:100%;
 }

 #FeaturedList  .title {
 	padding-left:10px;
 }
 
 #FeaturedList ul.list li {
	list-style: none;
	display:inline;
	float:left;
	width:175px;
	padding:10px;
}




#FeaturedList ul li:hover {
	background-color:#FDFFF0
	}



#FeaturedList ul li h3  a{
	color:#8a0c0c;
	display: block;

}

#FeaturedList ul img{
	float:left;
	border-width: 5px;
	border-style: solid;
	border-color:#999; 
	

}

#FeaturedList ul h3 {
	color:#8a0c0c;
}



#FeaturedList ul .Explaination {
	float:left;

}


#FeaturedList ul .Explaination {
	float:left;

}


#FeaturedList  ul .MoreInfo {
	font-size:.8em;

}






/* Transcripts----------------------------------------- */

#sourcePage  {
	clear:both;
	border-bottom:
;
	border-top: 1px solid #999;
	border-right: 1px none #999;
	border-bottom: 1px none #999;
	border-left: 1px none #999;
}

#Transcript #sourcePage img {
	float: left; 
	
	border-width: 5px;
	border-style: solid;
	border-color:#999; 
	
	clear:left;
	margin:5px;

	width: 180px; /* since this element is floated, a width must be given */
}

#Transcript #sourcePage h3 {display:none;}
#Transcript #TextFromImageTranscript {
	 	margin-left:190px;

}

#Transcript .SourceInformation {
	
	font-size:.75em
}
	
	
 /* The forward and back buttons */


.previousandnext { 

	margin-top:8px;
} 
 



