.assumed {
	color:#666;
}

.HomePageIntro {
	background-color:#fcf7f7;
	padding:10px;
	font-size:1.5em;
	max-width:760px;
}

.Instructions {
	color:#8a0c0c;
	font-size:1.3em;
	font-weight:bolder;

}


.informationicon {
	float:left;
	padding:5px;
}

/*
   typography.css
   Mysite
   
   Created by Pixel on 2011-10-16.
   Copyright 2011 Pixel. All rights reserved.
*/
h1{
	
}
/*
   typography.css
   Mysite
   
   Created by Pixel on 2011-10-16.
   Copyright 2011 Pixel. All rights reserved.
*/
/*
   typography.css
   Mysite
   
   Created by Pixel on 2011-10-16.
   Copyright 2011 Pixel. All rights reserved.
*/
